In [1]:
import pandas as pd

In [2]:
df_historical = pd.read_csv('worldcup_historical_data.csv')
df_fixture_2022 = pd.read_csv('worldcup2022_fixture.csv')
df_missing_data = pd.read_csv('worldcup_historical_missing_data.csv')

In [3]:
df_fixture_2022['home'] = df_fixture_2022['home'].str.strip()
df_fixture_2022['away'] = df_fixture_2022['away'].str.strip()

In [4]:
df_missing_data.dropna(inplace=True)
df_historical = pd.concat([df_historical, df_missing_data], ignore_index=True)
df_historical.drop_duplicates(inplace=True)
df_historical.sort_values('year', inplace=True)
df_historical

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
515     Brazil    2–0      Costa Rica  2018
516     Serbia    1–2     Switzerland  2018
517     Serbia    0–2          Brazil  2018
519    Germany    0–1          Mexico  2018
551    Belgium    2–0         England  2018

[853 rows x 4 columns]

In [5]:
delete_index = df_historical[df_historical['home'].str.contains('Sweden') &
                             df_historical['away'].str.contains('Austria')].index

df_historical.drop(index=delete_index, inplace=True)
df_historical

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
515     Brazil    2–0      Costa Rica  2018
516     Serbia    1–2     Switzerland  2018
517     Serbia    0–2          Brazil  2018
519    Germany    0–1          Mexico  2018
551    Belgium    2–0         England  2018

[852 rows x 4 columns]

In [6]:
df_historical['score'] = df_historical['score'].str.replace('\([^\)]*\)', '', regex=True)
df_historical['score'] = df_historical['score'].str.strip()

In [7]:
#df_aux['score'] = [x.replace(x[-8:], '') for x in df_aux['score']]
#df_aux

In [8]:
df_historical['home'] = df_historical['home'].str.strip()
df_historical['away'] = df_historical['away'].str.strip()
df_historical

          home score           away  year
0       France   4–1         Mexico  1930
17     Uruguay   4–2      Argentina  1930
16     Uruguay   6–1     Yugoslavia  1930
15   Argentina   6–1  United States  1930
14    Paraguay   1–0        Belgium  1930
..         ...   ...            ...   ...
515     Brazil   2–0     Costa Rica  2018
516     Serbia   1–2    Switzerland  2018
517     Serbia   0–2         Brazil  2018
519    Germany   0–1         Mexico  2018
551    Belgium   2–0        England  2018

[852 rows x 4 columns]

In [9]:
df_historical['score'].unique()

array(['4–1', '4–2', '6–1', '1–0', '3–0', '4–0', '3–1', '2–1', '6–3',
       '1–1', '3–2', '7–1', '5–2', '8–0', '5–1', '2–0', '6–5', '3–3',
       '6–0', '2–2', '7–5', '4–4', '7–0', '5–0', '8–3', '7–2', '9–0',
       '0–0', '7–3', '1–3', '5–3', '0–1', '2–3', '1–4', '4–3', '0–3',
       '0–2', '0–7', '1–2', '1–5', '10–1', '3–4', '2–4', '0–4', '2–5',
       '1–7'], dtype=object)

In [10]:
import re
mask = df_historical['score'].str.contains('-')
df_split = df_historical[mask]['score'].str.split('-', expand=True)

if df_split.shape[1] > 1:
    df_historical.loc[mask, 'HomeGoals'] = df_split[0]
    df_historical.loc[mask, 'AwayGoals'] = df_split[1]
else:
    df_historical.loc[mask, 'HomeGoals'] = df_split[0]
    df_historical.loc[mask, 'AwayGoals'] = df_split[0]

df_historical

KeyError: 0

In [ ]:
delete_index = df_historical[df_historical['home'].str.contains('Sweden') & 
                             df_historical['away'].str.contains('Austria')].index

df_historical.drop(index=delete_index, inplace=True)

#df_historical['score'] = df_historical['score'].str.replace('\([^\)]*\)', '', regex=True)
df_historical['home'] = df_historical['home'].str.strip()
df_historical['away'] = df_historical['away'].str.strip()

#df_historical.join(df_historical['score'].str.split('-', expand=True))
df_historical.drop('score', axis=1, inplace=True)

df_historical.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam',
                              'year': 'Year'}, inplace=True)
df_historical = df_historical.astype({'HomeGoals': int, 'AwayGoals': int, 'Year': int})

df_historical['TotalGoals'] = df_historical['HomeGoals'] + df_historical['AwayGoals']
df_historical

In [ ]:
df_historical.to_csv('wc_historical_clean.csv', index=False)
df_fixture_2022.to_csv('wc2022_fixture_clean.csv', index=False)